@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=League+Spartan:wght@700&family=Poppins&display=swap');
* {
    font-family: 'Fredoka', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Poppins', sans-serif; 
}

html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}
.sidebar {
        min-width: 250px; 
        max-width:450px;
}

@media (max-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 960px;
    }
    .card {
        min-width: 270px;
        min-height: 450px;
    }
}

@media (max-width:600px) {
    .nav-sobre, .nav-contato {
        display: none;
    }
    .sidebar {
        min-width: 100px;
    }
    i {
        font-size: 1.5rem;
    }
    span {
        display: none;
    }
}